<?xml version="1.0"?>
<psalm
	errorLevel="1"
	resolveFromConfigFile="true"
	findUnusedCode="false"
	findUnusedBaselineEntry="false"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://getpsalm.org/schema/config"
	xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
	<plugins>
		<pluginClass class="PsalmWordPress\Plugin"/>
	</plugins>

	<stubs>
		<file name="psalm/icons-api-stubs.stub"/>
	</stubs>

	<projectFiles>
		<file name="mosne-button-icons.php"/>
	</projectFiles>

	<issueHandlers>
		<MixedArgumentTypeCoercion errorLevel="info"/>
	</issueHandlers>
</psalm>
